<div class="row">
  <h1>Esty Products</h1>
  <!-- <div class="col-md-6">
    <a href="/#/wanguls/new"><button type="button" class="btn btn-lg btn-primary"name="button">Create New</button></a>
  </div> -->
</div>

<div ng-repeat="product in products" class="">
  <p>Product: {{ product.title }}</p>
  <p>Price: ${{ product.price }}</p>
  <img ng-src="{{product.MainImage.url_75x75}}" alt="" />
  <a href="/#/product/{{product.listing_id}}"><button type="button" name="button">Info</button></a>
</div>
