<div class="row">
  <h1>Esty Product</h1>
  <a href = "/#/products"><button type="button" class="btn btn-lg btn-warning">Back</button></a>
  <a href = "/#/cart"><button type="button" class="btn btn-lg btn-primary">Go to Cart</button></a>
</div>

<div class="">
  <a href = "{{product.url}}"><p>Product: {{ product.title }}</p></a>
  <p>Price: ${{ product.price }}</p>
  <p>Description: {{ product.description}}</p>
  <p ng-repeat="material in product.materials"> Materials Used: {{ material || "no materials listed" }} </p>
  <a href = "{{product.url}}"><img ng-src="{{product.MainImage.url_fullxfull}}" charset="utf-8"/></a>
</div>
